html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    min-width: 100vh;
}

.container {
    margin-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.delete {
    margin-left: 100px;
}